.cs {
  $canvas-width: 1024px;
  $canvas-height: 768px;
  width: 100%;
  height: 100%;
  min-width: $canvas-width;
  min-height: $canvas-height;
  position: relative;

  @import './visual';
  @import './info';
}
